/*----------------------------------------------
css settings for HTML div exactCenter 
------------------------------------------------*/

#main{
margin:30px auto;
padding-left: 35em;
font-family:raleway;
}

span{
position: absolute;
    z-index: 10;
    opacity: 1;
    text-align: center;
    font-family: 'Roboto', 'sans-serif';
    color: #e75009;
    margin-top: -25px;
}

h2{
background-color: #FEFFED;
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 15px;
}

.hr{
border:0;
border-bottom:1px solid #ccc;
margin: 10px -40px;
margin-bottom: 30px;
}

#login{
width:250px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 40px;
	background-color: #edf0f5;
}
#Create{
  position: absolute;
width:480px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 40px;
	display:none;
		background-color: #edf0f5;
}
 
input[type=text],input[type=password]{
width:95%;
text-shadow: 0 1px black;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
  padding:10px;
font-size: 16px;
}
input[type=bday],input[type=date]{
width:95%;
text-shadow: 0 1px black;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
  padding:10px;
  text-align: center;
font-size: 16px;
background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
} 


input[type=name]
{
  padding:8px;
  font-size: 16px;
  margin-right: 15px;
  text-shadow: 0 1px black;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
}
input[type=answer]
{
  margin-left:15em;
  padding:8px;
  font-size: 16px;
  margin-right: 15px;
  text-shadow: 0 1px black;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
}
::placeholder
{
  text-align: center;
}
input[type=username], input[type=password]
{
  text-shadow: 0 1px black;
  border: 1px solid #15243b;
  border-top-color: #0d1827;
  border-radius: 4px;
  padding:10px;
  width:95%;
  font-size: 16px;
  display: block;
}

input[type=submit]{
width: 95%;
background-color:#FFBC00;
color: white;
border: 2px solid #FFCB00;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
}
#profile{
padding:15px;
margin: 2.5px 0px 1px 0px;
border:2px dashed grey;
font-size:20px;
background-color:#DCE6F7;
}

#logout{
float:right;
padding:5px;
}

.logout, .signin,.setup{
text-decoration:none;
color: cornflowerblue;
border-color: green;
border: 2px solid;
margin-left: 5px;
padding:3px;
}

i{
color: cornflowerblue;
}#note{
clear: left;
padding-top: 20px;
margin-left: 20px;
}
#one,#two
{
    text-align: center;
    border: dashed 2px red;
    padding:10px 0px 10px 0px;
    width:95%;
}
#demo{
  font-size: 40px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  margin:5px 0px 20px 0px;
}
#links
{
      text-align: center;
      border: dashed 2px red;
      padding:10px 0px 10px 0px;
      margin-bottom: 20px;
      width:100%;
}
.innercontainer{
  margin: 0px 35px 0px 35px ;
}
hr.profile
{
    height: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    background: #f0f0f0;
    width:100%;
	color: #8c8b8b;
	font-size: 18px;
		content: '\002665';
	display: inline-block;
}
 .coolfieldset, .coolfieldset.expanded{
	border:2px solid #aaa;   
}

.coolfieldset.collapsed{
	border:0;
	border-top:1px solid #aaa;
}

.coolfieldset legend{
	padding-left:13px;
	font-weight:bold;
	cursor:pointer;
	
}

.coolfieldset legend, .coolfieldset.expanded legend{
	background: transparent url(../images/expanded.gif) no-repeat center left;
	border-bottom:1.5px solid #aaa;
}

.coolfieldset.collapsed legend{
	background: transparent url(../images/collapsed.gif) no-repeat center left;
	border-bottom:1.5px solid #aaa;
}
/*.timesheet:link {color:#ff0000;}
.timesheet:visited {color:#0000ff;}
.timesheet:hover {font-size:100%}
*/
.buttonTimesheet,.buttonPaystubs
{
  margin: 0em 8em 1em 0;
  padding-bottom: 0.2em;
  background-color: white; 
  color: black; 
}

.control-group
{
  margin:0em 2.5em 0em 2.5em;
}
.timesheetFieldset
{
  margin-bottom: 0.7em;
  
}
.buttonTimesheet:hover, .buttonPaystubs:hover {
    background-color: #008CBA;
    color: white;
    font-size: 110%;
}
.container-fluid.mainLine{
			   margin: 0em 1em 0em 1em;
			}
			.footer{
			    color:#edf0f5;
			    background-image:url(../images/grey_wash_wall.png);
			}
			h5>required{
			    color:black;
			}
#clockinn
{
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  outline: none;
}
#clockout
{
  background: #f21111;
  background-image: -webkit-linear-gradient(top, #f21111, #b82b4c);
  background-image: -moz-linear-gradient(top, #f21111, #b82b4c);
  background-image: -ms-linear-gradient(top, #f21111, #b82b4c);
  background-image: -o-linear-gradient(top, #f21111, #b82b4c);
  background-image: linear-gradient(to bottom, #f21111, #b82b4c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Georgia;
  color: #ffe5ec;
  font-size: 20px;
  padding: 16px;
  text-decoration: none;
  outline: none;

}
#clockinn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
#clockout:hover{
  background: #f51156;
  background-image: -webkit-linear-gradient(top, #f51156, #e8122b);
  background-image: -moz-linear-gradient(top, #f51156, #e8122b);
  background-image: -ms-linear-gradient(top, #f51156, #e8122b);
  background-image: -o-linear-gradient(top, #f51156, #e8122b);
  background-image: linear-gradient(to bottom, #f51156, #e8122b);
  text-decoration: none;
}
#outfit{
  margin: 2em 5em 2em 5em;
  padding-bottom: 2em;
   -moz-box-shadow: 0px 0px 8px 2px #d1d1d1;
	-webkit-box-shadow: 0px 0px 8px 2px #d1d1d1;
	background: #ffffff;
	border: 1px solid #f0f0f0;
	box-shadow: 0px 0px 8px 2px #d1d1d1;
	color: #777;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 6px; 
	overflow: hidden;
}